



.header {
 
   
    font-family: 'Junge', Georgia, sans-serif;

    position: relative;
    top: 50%;
    text-align: left;
    display: block;
    font-size: 50px;
    margin: auto;
    
}
.circle {
    height: 120px;
    width: 120px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(255, 197, 19);
    display: inline-block;
    text-align: center;

    }
.subHeader{
    text-align: left;
    width: 50%;
}



img {
    width: 65%;
    height: 50%;
    
}
.imgConsole {
    float: left;
        
}
.imgBoard {
    float: right;
   
    
}
.imgHeader {
    width: 10%;
    height: 10%;
    float: left;
     

}

footer{

    
}

.sideContent{
    border: 1px solid black;
    float: right;
    width: 30%;
    margin: 3%;
    padding: 2%;
    font-size: medium;
    text-align: left;
    margin-bottom: 5%;
    margin-right: 6%;

}     

.tech {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    font-size: medium;
     
    float: right;
    width: 30%;
    margin: 1%;
    padding: 2%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-right: 6%;
     
     
    }
    
.tech-header {

    font-family: 'Junge', Georgia, sans-serif;
    color: rgb(255, 197, 19);

    }  



.intro{
    color: rgb(86,85,82);
    text-align: left;
    width: 50%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;

   

}

.mainText {
    
    text-align: left;
    float: left;
    width: 50%;
    margin: 1%;
    
    text-align: justify;
    
}    




body {
	background-color: white;
	font-family: Georgia, serif;
	color: black;	
}


h1 {
	text-transform: uppercase;
	color: black;
    
}

	
